.sideBar {
  width: 400px;
  background: #fff;
  padding: 10px 20px;
  position: fixed;
  left: 100px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
  height: 100vh;
}
.title {
  font-weight: 700;
  color: #0c0c0d;
  font-size: 26px;
  margin: 10px 0;
  line-height: 1.2;
}
.caseDetailsList,
.topCountryList {
  list-style: none;
}

.caseDetailsList li h6 {
  font-size: 15px;
  font-weight: 600;
  color: #1a1662;
  display: inline-block;
}

.caseDetailsList li p {
  font-size: 28px;
  color: #888;
  font-weight: 600;
  line-height: 26px;
  float: right;
}

.textLeft {
  background-color: #fff2f2;
  padding: 20px 20px 15px 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 2px solid transparent;
}

b {
  float: right;
  font-size: 10px;
  color: #999;
  background-color: #fff;
  padding: 5px;
  margin-right: 10px;
  border-radius: 3px;
  letter-spacing: 0.5px;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.topCountry {
  margin-bottom: 10px;
  padding: 9px;
  display: block;
  border-radius: 4px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06);
  border: 1px #eee solid;
}

.topCountry img {
  width: 40px;
  border-radius: 3px;
  vertical-align: middle;
  display: inline-block;
}

.topCountry span {
  font-size: 13px;
  font-weight: 400;
  margin-left: 10px;
  color: #111;
}

.topCountry h6 {
  float: right;
  margin-left: 10px;
  line-height: 35px;
  color: #121158;
  font-size: 13px;
  font-weight: 600;
}

.scrollBar {
  overflow: hidden;
  scrollbar-gutter: stable both-edges;
}

.scrollBar:focus,
.scrollBar:hover,
.scrollBar:active {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scrollBar::-webkit-scrollbar {
  width: 3px;
}

.scrollBar::-webkit-scrollbar-track {
  opacity: 0;
}

.scrollBar::-webkit-scrollbar-thumb {
  height: 633px;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
}
